@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,351&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: italic;
}

html {
  scroll-behavior: smooth; 
}

$dark: dark;
$white: white;

body {
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// SAYFA FOTOĞRAFLARI //
$mainPhoto: photo1;
$stslPhoto: photo2;

.match-row {
  min-height: 80px; 

  .team-info,
  .date-info {
    flex: 1; 
    text-align: center; 
  }

  .season-info {
    margin-left: 10px; 

  .team-info img,
  .date-info img {
    margin-right: 10px; // Resimlerin yanındaki metni biraz ayırmak için
  }

  // Mobil cihazlar için düzenlemeler
    @media (max-width: 768px) {
      .team-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap; // Tek satırda kalmasını sağlıyoruz
        gap: 5px; // Takım isimleri ve skorlar arasına küçük bir boşluk ekliyoruz

        p {
          margin: 0; // Paragraf aralarındaki boşlukları kaldırıyoruz
          white-space: nowrap; // Metnin tek satırda kalmasını sağlıyoruz
        }
      }
    }
  }
}

@mixin image-url($imageUrl){
  background-image: url("../img/#{$imageUrl}.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100px;
  min-height: 700px;

  h2{
    font-size: 40px;
  }
}

#home {
  @include image-url($mainPhoto);
  
  p{
    font-size: 25px;
  }
}

/* SÜPER LİG SAYFASI */

#leagues {
  @include image-url($stslPhoto);

  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    
    &:hover{
        color: rgb(10, 184, 7);
    }
  }   

  h5{
    font-size: 27px;
  }

  p{
    font-size: 20px;
  }
}

#info{
  font-size: 25px;
}
tbody tr th, td{
  border: none;
}

#leagueInfo, #leaguePuanDurumu, #teams, #season{
  h5{
    text-decoration: underline;
    font-size: 20px;
  }

  p{
    font-size: 17px;
  }
}

// TAKIMLAR SAYFASI //
#teamDetails{
  @include image-url($stslPhoto);

  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    
    &:hover{
        color: rgb(10, 184, 7);
    }
  }   

  h5{
    font-size: 27px;
  }

  p{
    font-size: 20px;
  }

  #teamsInfo{
    h5{
      text-decoration: underline;
      font-size: 20px;
    }
  
    p{
      font-size: 17px;
    }
  }
}

/* FİKSTÜR */
#season {

  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    
    &:hover{
        color: rgb(10, 184, 7);
    }
  }   

  h2{
    font-size: 30px;
  }

  h5{
    font-size: 27px;
  }

  p{
    font-size: 20px;
  }
}

tbody tr th, td{
  border: none;
}


/* TAKIM ARA FORM INPUT */
$form-timing: 0.3s;
$form-width: 200px;
$form-height: 40px;
$form-border-height: 2px;
$form-input-bg: #fff;
$form-border-color: #2f2ee9;
$form-border-radius: 30px;
$form-after-border-radius: 1px;

.form {
  position: relative;
  width: $form-width;
  height: $form-height;
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: $form-border-radius;
  transition: border-radius 0.5s ease;
  background: $form-input-bg;

  button {
    border: none;
    background: none;
    color: #8b8ba7;
  }

  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &:before {
    content: "";
    position: absolute;
    background: $form-border-color;
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: $form-border-height;
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform $form-timing ease;
  }

  &:focus-within {
    border-radius: $form-after-border-radius;

    &:before {
      transform: scale(1);
    }
  }

  svg {
    width: 17px;
    margin-top: 3px;
  }

  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;

    ~ .input:not(:placeholder-shown) {
      & ~ .reset {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/* FOOTER */
$discord : #5865F2;
$linkedin: #0077b5;
$instagram: #F103D2;
$github: #333;
$footerBackground: black;

footer{
  margin-top: auto; 
  background-color: $footerBackground;
}

@mixin button-style($color) {
  color: #fff; 
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $color;
    color: #fff; 
    border-color: $color;
  }
} 

.discord {
  @include button-style($discord);
}

.linkedin {
  @include button-style($linkedin);
}

.instagram {
  @include button-style($instagram);
}

.github {
  @include button-style($github);
}

/* media screen */
@media only screen and (max-width: 1000px) {
  #leagues {
    @include image-url($stslPhoto);
  
    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: 0.3s;
      
      &:hover{
          color: rgb(10, 184, 7);
      }
    }   
  
    h5{
      font-size: 27px;
    }
  
    p{
      font-size: 20px;
    }
  }

  #leagueInfo, #leaguePuanDurumu, #teams, #season{
    h5{
      text-decoration: underline;
      font-size: 28px;
    }
  
    p{
      font-size: 15px;
    }

    tbody tr th, td{
      font-size: 12px;
    }
  }
} 



