@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,351&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: italic;
}

html {
  scroll-behavior: smooth; 
}

$dark: dark;
$white: white;

body {
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// SAYFA FOTOĞRAFLARI //
$mainPhoto: photo1;
$stslPhoto: photo2;

@mixin image-url($imageUrl){
  background-image: url("../img/#{$imageUrl}.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100px;
  min-height: 700px;

  h2{
    font-size: 40px;
  }
}

#home {
  @include image-url($mainPhoto);
  
  p{
    font-size: 25px;
  }
}

/* SÜPER LİG SAYFASI */

#leagues {
  @include image-url($stslPhoto);

  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    
    &:hover{
        color: rgb(10, 184, 7);
    }
  }   

  h5{
    font-size: 27px;
  }

  p{
    font-size: 20px;
  }
}

#info{
  font-size: 25px;
}
tbody tr th, td{
  border: none;
}

#leagueInfo, #leaguePuanDurumu, #teams{
  h5{
    text-decoration: underline;
    font-size: 20px;
  }

  p{
    font-size: 17px;
  }
}

// TAKIMLAR SAYFASI //
#teamDetails{
  @include image-url($stslPhoto);

  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    
    &:hover{
        color: rgb(10, 184, 7);
    }
  }   

  h5{
    font-size: 27px;
  }

  p{
    font-size: 20px;
  }

  #teamsInfo{
    h5{
      text-decoration: underline;
      font-size: 20px;
    }
  
    p{
      font-size: 17px;
    }
  }
}

/* FOOTER */
$discord : #5865F2;
$linkedin: #0077b5;
$instagram: #F103D2;
$github: #333;
$footerBackground: black;

footer{
  margin-top: auto; 
  background-color: $footerBackground;
}

@mixin button-style($color) {
  color: #fff; 
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $color;
    color: #fff; 
    border-color: $color;
  }
} 

.discord {
  @include button-style($discord);
}

.linkedin {
  @include button-style($linkedin);
}

.instagram {
  @include button-style($instagram);
}

.github {
  @include button-style($github);
}


/* media screen */


@media only screen and (max-width: 1000px) {
  #leagues {
    @include image-url($stslPhoto);
  
    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: 0.3s;
      
      &:hover{
          color: rgb(10, 184, 7);
      }
    }   
  
    h5{
      font-size: 27px;
    }
  
    p{
      font-size: 20px;
    }
  }

  #leagueInfo, #leaguePuanDurumu, #teams{
    h5{
      text-decoration: underline;
      font-size: 28px;
    }
  
    p{
      font-size: 15px;
    }

    tbody tr th, td{
      font-size: 12px;
    }
  }
} 

