@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,351&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: italic;
}

html {
  scroll-behavior: smooth; 
}

$dark: dark;
$white: white;

body {
  color: $white;
}

// SAYFA FOTOĞRAFLARI //
$mainPhoto: photo1;
$stslPhoto: photo2;

@mixin image-url($imageUrl, $height){
  background-image: url("../img/#{$imageUrl}.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100px;
  min-height: $height;

  .img-overlay {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    min-height: $height;
    background: rgba(18, 18, 18, 0.8);
  }

  .home-inner {
    padding-top: 80px;
  }

  h2{
    font-size: 40px;
  }
}

#home {
  @include image-url($mainPhoto, 700px);
}

/* SÜPER LİG SAYFASI */

#leagues {
  @include image-url($stslPhoto, 2000px);

  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    
    &:hover{
        color: rgb(10, 184, 7);
    }
  }   

  h5{
    font-size: 27px;
  }

  p{
    font-size: 20px;
  }
}

#info{
  font-size: 25px;
}
tbody tr th, td{
  border: none;
}

#leagueInfo, #leaguePuanDurumu, #teams{
  h5{
    text-decoration: underline;
    font-size: 20px;
  }

  p{
    font-size: 17px;
  }
}

// Renk ve Stil Değişkenleri
$card-bg-color: #f2f2f2;
$card-shadow-color: rgba(255, 255, 255, 0.2);
$card-border-color: #ffffff80;
$icon-color: #333;
$title-color: #333;
$description-color: #777;
$transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$card-width: 250px;
$card-height: 170px;
$card-border-radius: 10px;

// Ana Kart Stili
.card {
  position: relative;
  width: $card-width;
  height: $card-height;
  background-color: $card-bg-color;
  border-radius: $card-border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px $card-border-color;
  transition: $transition;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px $card-shadow-color;
  }

  // SVG İkon Stili
  svg {
    width: 48px;
    fill: $icon-color;
    transition: $transition;

    // Hover Durumunda SVG
    .card:hover & {
      scale: 0;
    }
  }

  // İçerik Kartı
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $card-bg-color;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: $transition;

    // Hover Durumunda İçerik Kartı
    .card:hover & {
      transform: rotateX(0deg);
    }
  }

  // Başlık Stili
  &__title {
    margin-top: 20%;
    text-align: center;
    font-size: 24px;
    color: $title-color;
    font-weight: 700;

    a{
        text-decoration: none;
        color:black;
        
        &:hover{
            color: rgb(10, 10, 167);
        }
    }   
  }
}

/* FOOTER */
$discord : #5865F2;
$linkedin: #0077b5;
$instagram: #F103D2;
$github: #333;
$footerBackground: black;

footer{
  background-color: $footerBackground;
}

@mixin button-style($color) {
  color: #fff; 
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $color;
    color: #fff; 
    border-color: $color;
  }
} 

.discord {
  @include button-style($discord);
}

.linkedin {
  @include button-style($linkedin);
}

.instagram {
  @include button-style($instagram);
}

.github {
  @include button-style($github);
}


/* media screen */
@media only screen and (max-width: 578px) {
  #leagues {
    @include image-url($stslPhoto, 1750px);
  
    a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: 0.3s;
      
      &:hover{
          color: rgb(10, 184, 7);
      }
    }   
  
    h5{
      font-size: 27px;
    }
  
    p{
      font-size: 20px;
    }
  }
} 