@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,351&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 380;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.match-row {
  min-height: 80px;
}
.match-row .team-info,
.match-row .date-info {
  flex: 1;
  text-align: center;
}
.match-row .season-info {
  margin-left: 10px;
}
.match-row .season-info .team-info img,
.match-row .season-info .date-info img {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .match-row .season-info .team-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
  }
  .match-row .season-info .team-info p {
    margin: 0;
    white-space: nowrap;
  }
}

#home {
  background-image: url("../img/photo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100px;
  min-height: 700px;
}
#home h2 {
  font-size: 40px;
}
#home p {
  font-size: 25px;
}

/* SÜPER LİG SAYFASI */
#leagues {
  background-image: url("../img/photo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100px;
  min-height: 700px;
}
#leagues h2 {
  font-size: 40px;
}
#leagues a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}
#leagues a:hover {
  color: rgb(10, 184, 7);
}
#leagues h5 {
  font-size: 27px;
}
#leagues p {
  font-size: 20px;
}

#info {
  font-size: 25px;
}

tbody tr th, td {
  border: none;
}

#leagueInfo h5, #leaguePuanDurumu h5, #teams h5, #season h5 {
  text-decoration: underline;
  font-size: 20px;
}
#leagueInfo p, #leaguePuanDurumu p, #teams p, #season p {
  font-size: 17px;
}

#teamDetails {
  background-image: url("../img/photo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100px;
  min-height: 700px;
}
#teamDetails h2 {
  font-size: 40px;
}
#teamDetails a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}
#teamDetails a:hover {
  color: rgb(10, 184, 7);
}
#teamDetails h5 {
  font-size: 27px;
}
#teamDetails p {
  font-size: 20px;
}
#teamDetails #teamsInfo h5 {
  text-decoration: underline;
  font-size: 20px;
}
#teamDetails #teamsInfo p {
  font-size: 17px;
}

/* FİKSTÜR */
#season a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.3s;
}
#season a:hover {
  color: rgb(10, 184, 7);
}
#season h2 {
  font-size: 30px;
}
#season h5 {
  font-size: 27px;
}
#season p {
  font-size: 20px;
}

tbody tr th, td {
  border: none;
}

/* TAKIM ARA FORM INPUT */
.form {
  position: relative;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: 30px;
  transition: border-radius 0.5s ease;
  background: #fff;
}
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form .input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.form .input:focus {
  outline: none;
}
.form:before {
  content: "";
  position: absolute;
  background: #2f2ee9;
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform 0.3s ease;
}
.form:focus-within {
  border-radius: 1px;
}
.form:focus-within:before {
  transform: scale(1);
}
.form svg {
  width: 17px;
  margin-top: 3px;
}
.form .reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
.form .reset ~ .input:not(:-moz-placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.form .reset ~ .input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

/* FOOTER */
footer {
  margin-top: auto;
  background-color: black;
}

.discord {
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.discord:hover {
  background-color: #5865F2;
  color: #fff;
  border-color: #5865F2;
}

.linkedin {
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.linkedin:hover {
  background-color: #0077b5;
  color: #fff;
  border-color: #0077b5;
}

.instagram {
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.instagram:hover {
  background-color: #F103D2;
  color: #fff;
  border-color: #F103D2;
}

.github {
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
.github:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

/* media screen */
@media only screen and (max-width: 1000px) {
  #leagues {
    background-image: url("../img/photo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 100px;
    min-height: 700px;
  }
  #leagues h2 {
    font-size: 40px;
  }
  #leagues a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
  }
  #leagues a:hover {
    color: rgb(10, 184, 7);
  }
  #leagues h5 {
    font-size: 27px;
  }
  #leagues p {
    font-size: 20px;
  }
  #leagueInfo h5, #leaguePuanDurumu h5, #teams h5, #season h5 {
    text-decoration: underline;
    font-size: 28px;
  }
  #leagueInfo p, #leaguePuanDurumu p, #teams p, #season p {
    font-size: 15px;
  }
  #leagueInfo tbody tr th, #leagueInfo td, #leaguePuanDurumu tbody tr th, #leaguePuanDurumu td, #teams tbody tr th, #teams td, #season tbody tr th, #season td {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */